{% extends "base.html" %}

{% block content %}

    <div class="row-fluid">
      <div id="main-content" class="span12">
        <h1 id="404-page-not-found" style="text-align: center">404</h1>
        <div id="div-404">
            <p style="text-align: center"><strong>Page introuvabke</strong></p>
            <p>Vous avez demandé une page de la documentation qui n'existe pas ou n'est plus accessible.</p>
            <p>Retournez à l'<a href="index.html" title="Accueil documentation">accueil de la documentation</a> pour consulter la table des matières.</p>
        </div>
      </div>
    </div>

{% endblock %}
